body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
    }
a {
    text-decoration: none;
}

.main-navigation {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #eeeeee;
}

.logo:hover, 
.logo:focus
{
    opacity: 0.8;
}

.logo:active {
    opacity: 0.3;
}

.main-menu {
    list-style: none;
}

.main-menu a {
    color: #000000;
}

.main-menu a:hover,
.main-menu a:focus
{
    color: #fb565a;
}

.main-menu a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-item-active {
    color: #000000;
    text-decoration: underline;
}

.cart {
    color: #000000;
}

.cart:hover {
    color: #fb565a;
}

.service-list {
    list-style: none;
    text-align: left;
}

.service-item h3 {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.service-item p {
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.button { /* Задал размеры кнопок, а они не увеличились */
    color: #ffffff;
    width: 160px;
    height: 50px;
}

.button.red {
    background-color: #fb565a;
}

.button.red:hover,
.button.red:focus {
    background-color: #e74246;
}

.button.red:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
}

.button.green {
    background-color: #00ca74;
}

.button.green:hover,
.button.green:focus {
    background-color: #00bc6c;
}

.button.green:active {
    background-color: #00aa62;
    color: rgba(255, 255, 255, 0.3);
}

.button.yellow {
    background-color: #efc84a;
}

.button.yellow:hover,
.button.yellow:focus {
    background-color: #eab534;
}

.button.yellow:active {
    background-color: #e5a722;
    color: rgba(255, 255, 255, 0.3);
}

.main-footer {
    background-color: #ffffff;
    color: #000000;
}

.footer-social {
    list-style: none;
}

.footer-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}

.footer-text {
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}