/* --------------Общие стили-----------------*/
html {
    box-sizing: border-box;
}

*, *::before *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
  }

/* --------------Header-----------------*/
.main-header {
    font-size: inherit;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #eeeeee;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.container nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0; 
}
/* --------------Шапка, меню-----------------*/

.logo a:hover, 
.logo a:focus {
    opacity: 0.8;
}

.logo a:active {
    opacity: 0.3;
}

.main-slider {
/* Временные стили - потом удалить! */
    min-height: 413px;
    background-color: #eeeeee;
    /*border: 2px solid rgb(0, 0, 0); */
    min-width: 1160px;
    background-repeat: no-repeat;
    background-position: top right;
    text-align: left;
    position: relative;

    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.main-slider::before,
.main-slider::after {
  content: "";
  visibility: hidden;
}

#slide2::before {
  background-image: url("../img/slide2.png");
}

#slide3::after {
  background-image: url("../img/slide3.png");
}

.slider-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slider-item {
    display: none;
}

.slider-text {
    padding-top: 70px;
}

#product-1:checked ~ .slider-list #slide1,
#product-2:checked ~ .slider-list #slide2,
#product-3:checked ~ .slider-list #slide3 {
  display: flex;
}

#product-1:checked ~ .slider-controls label[for="product-1"]::before,#product-2:checked ~ .slider-controls label[for="product-2"]::before,#product-3:checked ~ .slider-controls label[for="product-3"]::before {
    content: "";
    width: 4px;
    height: 4px;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #c1c1c2;
    right: -5px;
    top: -5px;
}


/*.slide {
    display: none;
} */

.slide-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    margin: 0 auto;
    margin-bottom: 24px;
}

.slide-description {
    margin: 0 auto;
    margin-bottom: 40px;
}

.slider-controls {
    position: absolute;
    bottom: 106px;
    left: 47%;
    z-index: 20;
    font-size: 0;
}

.slider-controls label {
    position: relative;
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-right: 17px;
    vertical-align: bottom;
    background-color: transparent;
    border: 9px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

/* #product-1:checked ~ .main-slider {
    background-image: url("../img/slide1.png");
}
  
#product-2:checked ~ .main-slider {
    background-image: url("../img/slide2.png");
}
  
#product-3:checked ~ .main-slider {
    background-image: url("../img/slide3.png");
} */



.main-header .container {
    padding-top: 50px;
    background-color: #eeeeee;
}

.main-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;   
    margin: 0;
    padding: 0;
    padding-top: 6px;
    padding-left: 7px;
}

.cart-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-left: 41px;
    padding-top: 6px;
}

.cart {
    padding-left: 50px;
    position: relative;
}

.cart::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 12px;
    width: 15px;
    height: 15px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.main-menu-item {
    margin-right: 47px;
    position: relative;
}

.main-menu-item:last-child {
    margin-right: 0;
}

.main-menu-item a:hover,
.main-menu-item a:focus,
.cart:hover,
.cart:focus {
    color: #fb565a;
}

.main-menu-item a,
.cart,
.main-menu-item-active a:hover, 
.main-menu-item-active a:focus {
    color: #000000;
}

.current::before {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 74px;
    height: 2px;
    background-color: #fb565a;
}

.main-menu-item a:active,
.cart:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-menu-item-active a {
    border-bottom: #000000;
}

/* --------------Footer-----------------*/
.main-footer .container {
    background-color: #ffffff;
    color: inherit;
    display: flex;
    align-items: center;
    position: absolute;
    left: 140px;
    margin-bottom: 80px;
}

.footer-social {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 260px;
    padding: 0;
    margin: 0;
}

.footer-list {
    padding-left: 139px;
}

.social-button {
    width: 79px;
    height: 79px;
    background-color: #e1e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.social-button:hover,
.social-button:focus {
    background-color: #e74246;
    color: #ffffff;
}

.social-button:active {
    background-color: #d7373b;
}

.social-button:hover path,
.social-button:focus path {
  fill: #ffffff;
}

.social-button:active path {
    fill: rgba(255, 255, 255, 0.3);
}

.footer-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
}

.footer-text {
    color: #444444;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

/* --------------Услуги-главная-----------------*/
.service-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    padding-top: 83px;
    border-bottom: 2px solid #eeeeee;
}

.service-item {
    width: 300px;
    margin-right: 100px;
    margin-bottom: 80px;
}

.service-item:nth-child(3n) {
    margin-right: 0;
}

.service-item h3 {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 15px;
}

.service-item p {
    color: #283136;
    margin: 0;
    margin-bottom: 33px;
}

.image-item {
    margin-bottom: 20px;
}

.section-features {
    display: flex;
    justify-content: space-between;
/* Временные стили ниже - потом удалить! */
    background-color: salmon;
    border: 2px solid red;
    margin-bottom: 30px;
    border-bottom: 2px solid #eeeeee;
}

/* --------------Парнеры и карта- главная-----------------*/

.partners {
    border-bottom: 2px solid #eeeeee;
}

.partners-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.partners-item {
    opacity: 0.2;
}

.partners-item:hover,
.partners-item:focus {
    opacity: 1;
}

.partners-item:active {
    opacity: 0.1;
}

.main-map {
    /*width: 100%;
    background-image: url("../img/map.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    position: relative;
    min-height: 420px;
    display: flex;
    align-items: center;
    margin-bottom: 68px;
}

.main-map-contacts {
    box-sizing: border-box;
    width: 320px;
    min-height: 308px;
    background-color: #ffffff;
    z-index: 1;
    position: absolute;
    left: 140px;
    padding: 0 50px;
}

.main-map-contacts .main-map-title {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    font-weight: 700;
    margin: 0;
    padding-top: 50px;
    margin-bottom: 22px;
}

.main-map-contacts p {
    line-height: 18px;
    color: #666666;
}

.main-map-adress {
    margin-bottom: 19px;
}

.main-map-tel {
    margin-bottom: 38px;
}

/* --------------Каталог-----------------*/

.catalog-sort {
    display: flex;
    text-transform: uppercase;
}

.catalog-sort p {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin: right;
    opacity: 0.3;
}

.catalog-sort p:hover,
.catalog-sort p:focus {
    opacity: 0.6;
    cursor: pointer;
}

.catalog-sort p:active {
    opacity: 1;
    cursor: pointer;
}

.sort-title {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    opacity: 1;
}

.sort-img a path {
    fill: rgba(51, 51, 51, 0.2);
}

.sort-img a:hover path,
.sort-img a:focus path {
    fill: #a6a6a6;
}

.sort-img a:active path {
    fill: #231f20;
}

.title-catalog {
    width: 100%;
    background-color: #eeeeee;
    margin-bottom: 54px;
    padding-top: 67px;
    padding-bottom: 110px;
}

.title-catalog h1 {
    margin: 0;
    text-align: center;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
}

.catalog {
    width: 760px;
    min-height: 1914px;
}

.catalog-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    padding-top: 116px;
}

.catalog-item {
    width: 360px;
    min-height: 576px;
    margin-bottom: 68px;
    margin-right: 40px;
    text-align: center;
    position: relative;
}

.catalog-item::before {
    content: "";
    top: -39px;
    left: 0;
    width: 360px;
    height: 40px;
    background-image: url("../img/browser.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.12;
}

.catalog-item:nth-child(2n) {
    margin-right: 0;
  }

.catalog-item:hover,
.catalog-item:focus {
    box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog-item:hover::before {
    content: "";
    top: -39px;
    left: 0;
    width: 360px;
    height: 40px;
    background-image: url("../img/browser.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 1;
}

.item-name {
    margin: 0;
    padding: 0;
}

.item-name a {
    color: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.catalog-item h3:hover,
.catalog-item h3:focus{
    color: #fb565a;
}

.catalog-item h3:active {
    color: rgba(0, 0, 0, 0.3);
}

.catalog-item p {
    color: #666666;
    line-height: 18px;
    margin-bottom: 30px;
}

.item-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 360px;
    height: 237px;
    padding: 0;
    background-color: #eeeeee;
    z-index: 10;
}

.catalog-item .item-info {
    display: none;
    padding: 29px;
    box-sizing: border-box;
}

.catalog-item:hover .item-info {
    display: block;
    background-image: url("..img/browser.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.features {
    width: 360px;
}

.section h3,
.features h3{
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
    font-size: 16px;
}

.features-image {
    padding-top: 10px;
    margin-bottom: 12px;
}

.features-title {
    text-align: center;
    margin-bottom: 60px;
}

.features-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.features-list dt {
    font-size: 45px;
    font-weight: 700;
    line-height: 10.06px;
    width: 93px;
    min-height: 35px;

}

.features-list dd{
    color: #283136;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.section-title {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.section-text {
    color: #283136;
}

.section-list {
    list-style: none;
}

.pagination {
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 50px;
    display: flex;
    margin-bottom: 60px;
}

.pagination-item {
    margin-right: 5px;
}

.pagination-item a {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #eeeeee;
    color: #000000;
}

.pagination-item a:active {
    background-color: #ffffff;
    color: #000000;
    border: 3px solid #eeeeee
}

/* --------------Кнопки-----------------*/
.button {
    display: block;
    color: #ffffff;
    width: 160px;
    padding: 16px 0 16px 0;
    line-height: 18px;
    font-weight: 500;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    border-style: none;
    cursor: pointer;
}

.button-red {
    background-color: #fb565a;
}

.button-red:hover,
.button-red:focus {
    background-color: #e74246;
}

.button-red:active {
    background-color: #d7373b;
}

.button-green {
    background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
    background-color: #00bc6c;
}

.button-green:active {
    background-color: #00aa62;
    color: rgba(255, 255, 255, 0.3);
}

.button-yellow {
    background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
    background-color: #eab534;
}

.button-yellow:active {
    background-color: #e5a722;
    color: rgba(150, 90, 90, 0.3);
}

.button-filter {
    background-color: #eeeeee;
    color: inherit;
    width: 260px;
    height: 50px;
    text-transform: uppercase;
}

.button-filter:hover,
.button-filter:focus {
    background-color: #dfdfdf;
}

.button-filter:active {
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
}

.button-item {
    background-color: #fb565a;
    color: #ffffff;
    width: 200px;
    margin-left: 17%;
}

.button-item:hover,
.button-item:focus {
    background-color: #e74246;
}

.button-item:active {
    background-color: #d7373b;
}

.button-modal {
    font-weight: 400;
    width: 260px;
    margin-bottom: 54px;
}

.button-slide {
    background-color: #fb565a;
    width: 240px;
}

.button-slide:hover {
    background-color: #e74246;
}

.button-slide:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
}

.modal-link {
    width: 220px;
    background-color: #fb565a;
    margin-bottom: 10px;
}

/* --------------Фильтр-----------------*/
.filter-catalog {
    display: flex;
    justify-content: space-between;
}

.filter {
    width: 261px;
    min-height: 508px;
    margin: 0;
    padding: 0;
    margin-right: 30px;
}

.filter fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.filter legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    border: none;
}

.filter-item legend {
    margin-bottom: 48px;
}

.filter-list {
    padding: 0;
    margin: 0;
    margin-bottom: 45px;
}

.filter-grid legend {
    margin-bottom: 14px;
}

.filter ul {
    list-style: none;
    line-height: 20px;
}

.filter-input + label{
    color: #283136;
    line-height: 20px;
}

.filter-input:disabled + label {
    cursor: default;
    color: rgba(40, 49, 54, 0.3);
}

.filter-input:disabled + label {
    cursor: default;
    color: rgba(40, 49, 54, 0.3);
}

.filter-option {
    margin-bottom: 21px;
    padding-left: 36px;
}

.filter-option label {
    position: relative;
    cursor: pointer;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -2px;
    width: 19px;
    height: 19px;
    border: 2px solid #b8b8b8;
    border-radius: 2px;
}

.filter-input-checkbox:hover + label::before {
    border: 2px solid #4d4d4d;
}

.filter-input-checkbox:disabled + label::before {
    border: 2px solid rgba( 77, 77, 77, 0.1);
}

.filter-input-checkbox:checked + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -1px;
    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
    width: 26px;
    height: 26px;
    border: none;
}

.filter-input-checkbox:hover:checked + label::before {
    opacity: 1;
}

.filter-input-checkbox:disabled:checked + label::before {
    opacity: 0.1;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -1px;
    width: 16px;
    height: 16px;
    border: 4px solid #b8b8b8;
    border-radius: 50%;
}

.filter-input-radio:hover + label::before {
    border: 4px solid #4d4d4d;
}

.filter-input-radio:disabled + label::before {
    border: 4px solid rgba( 77, 77, 77, 0.1);
}

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 7px;
    left: -27px;
    width: 8px;
    height: 8px;
    background-color: #b8b8b8;
    border-radius: 50%;
}

.filter-input-radio:hover:checked + label::after {
    background-color: #4d4d4d;
}

.filter-input-radio:disabled:checked + label::after {
    background-color: rgba( 77, 77, 77, 0.1);
}

.filter-features {
    margin: 0;
    padding: 0;
}

.filter-features legend {
    margin-bottom: 16px;
}

.range-filter {
    width: 260px;
    margin-bottom: 57px;
}

.range-controls {
    position: relative;
    
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    
    background-color: #f1f1f1;
    
    border-radius: 5px;
}
  
.range-controls .scale {
    height: 2px;
  
    background: #d7dcde;
}
  
.range-controls .bar {
    width: 70%;
    height: 2px;
  
    background: #00ca74;
}
  
.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    
    width: 4px;
    height: 4px;
    padding: 0;
  
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}
  
.range-controls .toggle-min {
    left: 17px;
}
  
.range-controls .toggle-max {
    left: 160px;
}
  
.price-controls {
    font-size: 0;
}
  
.price-controls label {
    display: inline-block;
    width: 50%;
    
    font-size: 16px;
    text-transform: uppercase;
}
  
.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;

    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;
    
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.max-price {
    text-align: right;
}

/* --------------Модальные окна-----------------*/

@keyframes bounce {
    0% {
      transform: translateY(-2000px);
    }
  
    70% {
      transform: translateY(30px);
    }
  
    90% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateY(0);
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}  

.modal {
    box-sizing: border-box;
    width: 960px;
    background-color: #ffffff;
    padding: 30px 100px;
    position: relative;
    bottom: 207px; /* bottom сделать 180пикс */
    left: 50%;
    margin-left: -480px;
    box-shadow: 0px 20px 40px 0px rgba(0, 1, 1, 0.75);
    display: none;
}

.modal-show {
    display: block;

    animation: bounce 0.6s;
}

.modal-error {
    animation: shake 0.6s;
}

.modal-close {
    width: 23px;
    height: 23px;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 13%;
    right: 88px;
    background-image: url("../img/close-cross.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #ffffff;
    opacity: 0.3;
}

.modal h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    margin: 0;
    padding-top: 36px;
    margin-bottom: 38px;
}

.feedback p {
    margin: 0;
}

.feedback input {
    box-sizing: border-box;
    border: 2px solid #d7dcde;
    border-radius: 2px;
}

.feedback input::-webkit-input-placeholder { 
    color: rgba( 68, 68, 68, 0.502 );
}  

.feedback label {
    font-weight: 700;
    display: block;
    margin-bottom: 6px;
}

.feedback input[name="login"],
.feedback input[type="email"] {
    width: 360px;
    padding: 14px 13px;
    line-height: 18px;
    margin-right: 40px;
    margin-bottom: 31px;
}

.feedback input[name="email"] {
    margin-right: 0;
}

.feedback .text-mail {
    width: 100%;
    padding: 10px 0px 85px 13px;
    margin-bottom: 47px;
}

.feedback-username-email {
    display: flex;
}